body {
    text-align: center;
}

h1 {
    background-color: green;
    color: white;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}
.sports-container {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
    text-align: center;

}
.sports-container p {
    padding: 20px;
    background: linear-gradient(red,orange , yellow);
    color: white;
    font-size:x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 2px 3px 5px 5px gray;
    text-shadow: 2px 3px 5px whitesmoke;
    border: dotted 3px red;
}

.sports-container img {
    width: 200px;
    height: 200px;
    padding-bottom: 20px;
    margin: auto;
    animation: rotate 8s ease 1s infinite alternate;
    border-radius: 50%;
}

@keyframes rotate {
    from {
        transform: translate(1px) rotate(-50deg);
    }
    to {
        transform: translate(500px) rotate(50deg);
    }
}

@media (max-width: 768px) {
    .sports-container {
        display:flex;}
}
.sports-container p:hover{
    background: linear-gradient(blue,aqua ,aquamarine );
    cursor: pointer;
    color: black;
}
.sports-container img:hover{
    transform: scale(1.2);
    cursor: pointer;
    filter: grayscale(100%);
}